/*
Buttons - https://codepen.io/archivum/pen/NPPOaj
*/

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: var(--bg-color);
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: var(--bg-color);
  background: var(--primary-color);
}

.btn-1a:disabled {
  cursor: pointer;
  border: 3px solid var(--disabled-color);
  color: var(--disabled-color);
  cursor: default;
}

.btn-1a:disabled:hover, .btn-1a:disabled:active {
  color: var(--disabled-color);
  background: inherit;
}
